<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <h1>Enter the secret passphrase to enter the club.</h1>
        <form action="/joinTheClub" method="POST">
            <input id="passphrase" name="passphrase" type="text" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
